body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#board {
    display: block;
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
    background-size: cover;
    background-position: center;
}